/* General body styles to match the home page */
body {
    margin: 20px;
    padding-top: 60px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Main container styles */
.content-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #ffffff;
}

/* Heading styles */
.content-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Paragraph styles */
.content-container p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    color: #333;
}

/* List styles */
.content-container ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 40px;
}

.content-container li {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.6;
}

/* Link styles */
.content-container a {
    color: #56513D;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    margin-top: 10px;
}

.content-container a:hover {
    color: #4d4835;
    text-decoration: underline;
}

/* Specific link styles for the external link */
.content-container p a {
    color: blue;
}

.content-container p a:hover {
    color: darkblue;
}

/* Media queries to adjust content width on different devices */
@media (max-width: 600px) {
    .content-container {
        padding: 10px;
    }

    .content-container h1,
    .content-container h2 {
        text-align: center;
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .content-container {
        padding: 15px;
    }
}

@media (min-width: 993px) {
    .content-container {
        padding: 20px;
    }
}