<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Dataset Collection</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/data.css">
    <script src="../js/includeHTML.js" defer></script>
    <link rel="icon" type="image/x-icon" href="..\DiaCorpus_Rashoot\images\favicons\favicon.ico">
</head>
<body>
    <!-- Include the header component -->
    <div data-include="header.html"></div>

    <div class="content-container">
        <h1>Complete Dataset Collection</h1>
        <p>Explore our extensive collection of datasets, suitable for various types of analysis. Select from our tagged or untagged datasets and specify the format you need.</p>

        <h2>Tagged Datasets</h2>
        <p>Datasets that have been labeled for specific analyses, ideal for training and testing machine learning models.</p>
        <table>
            <tr>
                <th>Type</th>
            </tr>
            <tr>
                <td>Sentiment Analysis</td>
            </tr>
            <tr>
                <td>Emotion Recognition</td>
            </tr>
            <tr>
                <td>Named Entity Recognition</td>
            </tr>
            <tr>
                <td>Named Entity Recognition-Expansion</td>
            </tr>
            <tr>
                <td>Topic Categorization </td>
            </tr>
        </table>

        <h2>Untagged Datasets</h2>
        <p>Raw datasets available for custom analysis, offered in multiple formats.</p>
        <table>
            <tr>
                <th>Type</th>
                <th>Available Formats</th>
            </tr>
            <tr>
                <td>Podcast data</td>
                <td>.csv, .json</td>
            </tr>
            <tr>
                <td>Interview data</td>
                <td>.csv, .json</td>
            </tr>
        </table>
        <p>To request access to any of the datasets or models listed above, please visit the following link. In the request form, please specify the dataset(s) and format(s) (.csv or .json) you are interested in.</p>
        <a href="../Templates/requestData.html">Request Dataset Access</a>

    </div>
</body>
</html>
