<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Data Science Institute</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/dsi.css">
    <script src="../js/includeHTML.js" defer></script>
    <link rel="icon" type="image/x-icon" href="..\DiaCorpus_Rashoot\images\favicons\favicon.ico">
</head>
<body>
    <!-- Include the header component -->
    <div data-include="header.html"></div>

    <div class="content-container">
        <h1>The Data Science Institute</h1>
        <p>Data science is at the forefront of innovation and entrepreneurship, enabling and refueling massive economic growth and cultural shifts. It promises to creep into every single area of our lives with each profession having to re-evaluate how it deals with data and implications. The mission of the Data Science Institute is to cultivate applied research, technological breakthroughs and professional skills.</p>

        <p>The Data Science Institute serves as an innovative arm, bridging academic research and industry demands. It operates alongside the disciplines within Reichman university’s schools and leverages its unique interdisciplinary structure and culture. The institute initiates and hosts joint academia industry ventures, and serves as a source for applied research breakthroughs and technological innovation.</p>

        <p>Projects are led by senior, experienced, researchers and the teams include junior researchers and students. Each project team is committed to delivering both academic and technological outcomes. Researchers and students from the relevant schools across Reichman University are invited to join existing activities and to initiate new ones, while getting full support (funding, computation and data resources, and professional assistance). This structure is designed to nurture multidisciplinary efforts, and enable teamwork.</p>

        <h2>Our focus areas include:</h2>
        <ul>
            <li>Social Analytics: Analyzing social interactions, discussions, topics, flow of ideas, impact and influence.</li>
            <li>Digital Health: Utilizing predictive modelling for diagnosis, prognosis and treatment, drug discovery and development, and issues related to clinical study challenges.</li>
            <li>Business: Utilizing predictive modelling in fintech, targeted advertising, pricing, business analytics, decision making, and risk management.</li>
            <li>AI and Cognitive Computing: Modeling interactions between emotion, cognition, and behavior.</li>
        </ul>
        
        <p>To learn more, visit us on our <a href="https://www.runi.ac.il/en/research-institutes/business/dsi" target="_blank" class="external-link">website</a>.</p>
    </div>
</body>
</html>
