<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/team.css">
    <script src="../js/includeHTML.js" defer></script>
    <link rel="icon" type="image/x-icon" href="..\DiaCorpus_Rashoot\images\favicons\favicon.ico">
</head>
<body>
    <!-- Include the header component -->
    <div data-include="header.html"></div>

    <div class="content-container">
        <h1>Our Team</h1>
        <div class="people-container">
            <div class="person">
                <img src="../images/people/Rawaa_Mak.jpg" alt="Rawaa Makhoul">
                <div class="person-name">
                    <p>Rawaa Makhoul</p>
                </div>
                <a href="https://www.linkedin.com/in/rawaa-ma/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Rawaa is a project manager at the Data Science Institute, a teaching assistant in Reichman University, and the owner & founder of "Rawaa Advisory" - an advisory company for startups. </p>
                    <p>Previously she was the CEO and Co-Founder of WATS VA, Ex-Google and Business and Data Analytics graduate.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/02_avrahami-israeli.jpg" alt="Avrahami Israeli">
                <div class="person-name">
                    <p>Avrahami Israeli</p>
                </div>
                <a href="https://www.linkedin.com/in/avrahami-israeli/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Abraham (Avrahami) Israeli is a postdoctoral research fellow at the University of Michigan. He is researching the way individuals and communities behave on the web. Avrahami received his master's and Ph.D. degree from Ben-Gurion University and his bachelor's degree from the Technion. Avrahami was a research fellow at the Data Science Institute at Reichman University from 2020 to 2023. He led the social analytics vertical and served as the project leader in different  projects, all associated with NLP and social media.</p>
                    <p>In recent years Avrahami has taught machine learning courses in the computer science department at Reichman University and Statistics at Ben-Gurion University.</p>
                    <p>Prior to his academic path, Avrahami worked for 10 years in different machine-learning groups at IBM Research and Intel.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/01_shai-fine.jpg" alt="Shai Fine">
                <div class="person-name">
                    <p>Shai Fine</p>
                </div>
                <a href="https://www.linkedin.com/in/shai-fine/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Dr. Shai Fine is the head of the Data Science Institute at Reichman University (IDC) and the Julis-Rabinowitz academic chair for data science.</p>
                    <p>Prior to Reichman University, Shai spent over 25 years in various roles in leading companies. He was the senior director for analytics & big data at Teva Pharmaceutical, a principal engineer and chief data scientist at Intel, the head of the Deep Learning Capstone at Intel Labs, and the founder and head of the analytics department at IBM.</p>
                    <p>Shai holds a PhD in computer science from the Hebrew University of Jerusalem, and a postdoc at the IBM, T.J. Watson Research Center, NY. Shai is also the inventor of ten patents.</p>
                    <p>Shai’s research interests are in the field of machine learning and deep learning, focusing on representation, modelling, measurements and algorithms, and on demonstrating capabilities and usefulness in real-life settings.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/04_dr-kfir-bar.jpg" alt="Kfir Bar">
                <div class="person-name">
                    <p>Kfir Bar</p>
                </div>
                <a href="https://www.linkedin.com/in/kfirbar/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Kfir Bar is a senior lecturer at the Arazi School of Computer Science. He heads the natural language processing (NLP) lab at the Data Science Institute, focusing on developing technologies for analyzing the Arabic language.</p>
                    <p>Kfir has many years working in a wide range of NLP disciplines, including statistical machine translation, named entity recognition, and sentiment-analysis applications. He is a big fan of combining linguistic knowledge with sophisticated AI algorithms, for extracting the most important information from a given text.</p>
                    <p>In parallel to his current role, Kfir is the chief scientist at Basis Technology. His previous roles include Chief Technology Officer at Interview, and co-founder and VP of engineering at Comprendi, where in 2016, together with his team, he won the Twitter #Promote challenge.</p>
                    <p>Kfir holds a PhD in computer science from Tel Aviv University for a thesis on semantics and machine translation.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/06_aviv-naaman.jpg" alt="Aviv Naaman">
                <div class="person-name">
                    <p>Aviv Naaman</p>
                </div>
                <a href="https://www.linkedin.com/in/avivnaaman/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Aviv Naaman is a researcher and activities leader at the Data Science Institute. He is the coordinator for transcription and interview efforts in Arabic at the institute, and a coordinator and transcription lead for clinical psychology sessions.</p>
                    <p>Aviv holds a bachelor’s degree in psychology from Tel-Aviv University. He is fluent in spoken Arabic, (various regional dialects).</p>
                    <p>Aviv’s former roles include deputy general manager at a global travel company, teaching Indian & Islamic culture at Tel Aviv University, and tour guide to various Asian destinations.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/11_guy-maduel.jpg" alt="Guy Maduel">
                <div class="person-name">
                    <p>Guy Maduel</p>
                </div>
                <a href="https://www.linkedin.com/in/guy-maduel/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p> Guy Maduel is a Data Scientist and DevOps Engineer at the Data Science Institute.</p>
                    <p> Guy is responsible for managing data throughout its lifecycle, building and training NLP models, and creating data pipelines.
                        He has developed assistive data tools for annotation, visualization, and analysis.</p>
                    <p>Guy holds a B.S.c in Computer Science from Reichman University.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/Aviad.jpg" alt="Aviad Rom">
                <div class="person-name">
                    <p>Aviad Rom</p>
                </div>
                <a href="https://www.linkedin.com/in/aviadrom/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Aviad is a machine learning engineering leader focusing on natural language processing (NLP) approaches for security, trust, and safety of machine learning-based software systems. He served as a data and ML modeling advisor throughout the project.</p>

                    <p>Aviad received his master's degree in computer science from Reichman University, studying challenges in NLP for colloquial Arabic, and his bachelor's degree in computer science from the Technion.</p>

                    <p>Prior to his current role Aviad has worked for 9 years in various software engineering and machine learning engineering roles, and has also taught a deep learning course in Reichman University as an adjunct lecturer.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/Lev.jpg" alt="Lev Shechter">
                <div class="person-name">
                    <p>Lev Shechter</p>
                </div>
                <a href="https://www.linkedin.com/in/lev-shechter/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                  <p>Lev is a master's student in computer science at Reichman University, focusing on natural language processing research at the Data Science Institute.</p>
                    <p>Lev also works as a data science student at Intel.</p>
                </div>
            </div>

            <div class="person">
                <img src="../images/people/Dana.jpg" alt="Dana Karain">
                <div class="person-name">
                    <p>Dana Karain</p>
                </div>
                <a href="https://www.linkedin.com/in/dana-karain/" target="_blank" class="linkedin-button">
                    LinkedIn
                </a>
                <div class="person-description">
                    <p>Dana karain is a Data Scientist with a B.A. in Computer Science, specializing in NLP research, particularly focused on the Arabic language. With a passion for data modeling and analysis.
                    </p>
                    <p>Dana karain contributes to advancing NLP capabilities within the lab, working on tasks from data preprocessing and modeling to interpreting complex insights from  datasets. In the lab, Dana karain collaborates with the team to build efficient data workflows and enhance model performance, aiming to push the boundaries of Arabic language understanding in the field of NLP.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/Yasmeen.jpg" alt="Yasmeen Karam">
                <div class="person-name">
                    <p>Yasmeen Karam</p>
                    <p class="role">Annotator</p>
                </div>
                <div class="person-description">
                    <p>Yasmeen holds a Law degree and a BA in Psychology. She is an MA student in Law and Security Program at Reichman University.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/Lubna.jpg" alt="Lubna Kheir">
                <div class="person-name">
                    <p>Lubna Kheir</p>
                    <p class="role">Annotator</p>
                </div>
                <div class="person-description">
                    <p>Lubna is a PhD student in Medical Studies at Tel Aviv University.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/Fatma.jpg" alt="Fatma Akram">
                <div class="person-name">
                    <p>Fatma Akram</p>
                    <p class="role">Annotator</p>
                </div>
                <div class="person-description">
                    <p>Fatma, is a biologist, holds a BSc in life science from Tel Aviv University.</p>
                </div>
            </div>
            <div class="person">
                <img src="../images/people/Rawaa_Is.jpg" alt="Rawaa Ishtewy">
                <div class="person-name">
                    <p>Rawaa Ishtewy</p>
                    <p class="role">Annotator</p>
                </div>
                <div class="person-description">
                    <p>Rawaa Ishtewy is a first-year PhD student in dermatology at Tel Aviv University’s Faculty of Molecular Biology and Human Genetics. With a background in biology and a master’s in neurobiology, Rawaa’s research journey has spanned from investigating Parkinson’s disease mechanisms to exploring genetic factors in skin health.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
